<mat-form-field>
  <mat-select (selectionChange)="changeLanguage($event.value)" [(ngModel)]="selectedLanguage">
    <mat-select-trigger>
      <img src="../../assets/images/{{selectedLanguage}}.svg" height="18px"/><span>{{ 'LANGUAGE.'+ selectedLanguage | uppercase | translate }}</span>
    </mat-select-trigger>
    <mat-option *ngFor="let language of availableLanguages" [value]="language">
        <img src="../../assets/images/{{language}}.svg" height="18px"/><span>&nbsp;{{ 'LANGUAGE.'+ language | uppercase | translate }}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
