<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="app-name">
      <span>RMDb</span>
    </div>
    <!-- <app-search *ngIf="showSearch"></app-search> -->
    <button mat-raised-button (click)="goToAdvancedSearch()" *ngIf="showSearch">
      {{'ADVANCED_SEARCH_BUTTON' | translate}}
    </button>
    <div class="spacer" *ngIf="!showSearch"></div>
    <!-- <app-language></app-language> -->
  </mat-toolbar-row>
</mat-toolbar>
<a routerLink="/advanced-search"></a>
<div class="router-outlet-container">
  <div class="home-nav-link-container">
    <a routerLink='/home' *ngIf="showHomeNavLink">{{'HOME_NAV_LINK' | translate}}</a>
  </div>
  <router-outlet></router-outlet>
</div>
<div class="app-footer">
  <img src="../assets/images/powered-by-tmdb.svg"/>
  <span>
    {{ 'FOOTER_MESSAGE' | translate }} <a href="https://www.themoviedb.org/" target="_blank">TMDb</a>
  </span>
</div>
<div class="spinner-container" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>
