@import "../globals";

:host {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;

  & .app-name {
    background-color: black;
    border-radius: 4px;
    & > span {
      padding: $base-padding;
    }
  }

  & > .router-outlet-container {
    flex: 1;
    padding: $base-padding;
  }

  & > .app-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-bottom: 8px;
    & > img {
      height: 40px;
      padding-right: calc($base-padding/2);
    }
  }

  & .spinner-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    > mat-spinner {
      position: fixed;
      top: 50%;
      left: 50%;
    }
  }
  .spacer {
    flex: 1;
  }

  .home-nav-link-container {
    margin-bottom: 16px;
  }
}