$base-padding: 16px;

@mixin search-result-item-layout() {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: normal;
  padding-top: calc($base-padding/2);
  padding-bottom: calc($base-padding/2);
  border-bottom: solid 1px #D7D7D7;
  > img {
    margin-right: $base-padding;
  }
  > div {
    align-self: self-start;
    > h3 {
      margin-top: 0;
    }
  }
}

@mixin mat-nav-list-item-hover() {
  cursor: pointer;
  background-color: rgba($color: #000000, $alpha: .04 )
}
@mixin profile-details() {
  display: flex;
  flex: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  > img {
    border: solid 1px;
  }
}

@mixin main-record-summary() {
  padding-left: 16px;
  > * {
    margin-bottom: 8px;
  }
  label {
    color: rgba($color: #000000, $alpha: .6);
  }
}