@import '../../globals.scss';

:host {
  & .profile-details {
    @include profile-details()
  }
  & mat-list-item  {
    margin-bottom: 8px;
    height: unset;
    img {
      margin-right: 8px;
    }
    span {
      margin-left: 4px;
    }
  }
  .movie-summary {
    @include main-record-summary()
  }
}